.App {
  text-align: center;
}

.App-header {
  background-image: url("./img/smurfvillage.PNG");
  background-image: center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  text-align: center
}

.title-text {
  font-size: 5vw;
  background: rgb(80, 78, 78);
  color: white;
  border-radius: 40px;
  padding: 2vw
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
